{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ecommerce</title>

</head>

<style>
  #bg{
    background-repeat: no-repeat;
    background-size:1800px 900px;
    background-position:top;
    background-attachment:fixed;
  }
</style>

<body id="bg" style="background-image:url('{% static 'images/Background.jpg'%}');">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}


  {%block content%}

  {%endblock content%}

  
  {% include "ecom/footer.html" %}
</body>


</html>
